<router-outlet></router-outlet>


<div class="row">
    <div class="navbar-tables" style="overflow-y: scroll;">
        <div (click)="changeTable(table)" *ngFor="let table of tables?.tables" [ngClass]="tableActive == table ? 'active': ''">
            {{ table }}
        </div>
    </div>
    <div class="col" *ngIf="table != null">
        <app-columns-info [columnSelected]="columnSelected" [dataTable]="dataTable | async" [table]="table | async"></app-columns-info>
        <app-form-anonymisation class="mt-5 p-1" [table]="table | async" [columnSelected]="columnSelected"></app-form-anonymisation>
    </div>
</div>
