$background-gray: rgba(226, 226, 226, 0.67);

.column-info {
  display: flex;
  flex-direction: column;
  max-width: 70vw;

  .column-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      width: 100%;
      text-align: center;
    }
  }

  .column-content {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.5rem;
      border: 1px solid black;
      background-color: $background-gray;
    }
  }
}
