<div class="column-info">
  <div class="column-title">
    <h2>Table : {{ table?.table }}</h2>
  </div>
  <div class="column-content">
    <div class="column" *ngFor="let column of table?.columns">
      <div class="info">
        <p>{{ column.name }}</p>
        <p>{{ column.type }}</p>
        <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="column.selected" (ngModelChange)="updateSelected(column.name)"></mat-checkbox>
      </div>
      <div class="data" *ngFor="let data of dataTable?.data">
        {{ data[column.name] }}
      </div>
    </div>
  </div>
</div>
